@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<blockquote>
    <p>Última atualização: 12 de julho de 2023</p>
    <p>Esta Política de Privacidade descreve Nossas políticas e procedimentos sobre a coleta, uso e divulgação de Suas informações quando Você usa o Serviço e informa sobre Seus direitos de privacidade e como a lei o protege.</p>
    <p>Usamos Seus dados pessoais para fornecer e melhorar o Serviço. Ao usar o Serviço, você concorda com a coleta e uso de informações de acordo com esta Política de Privacidade. Esta Política de Privacidade foi criada com a ajuda do <a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank">Gerador de política de privacidade</a>.</p>
    <h1>Interpretação e Definições</h1>
    <p>As palavras cuja letra inicial é maiúscula têm significados definidos nas seguintes condições. As seguintes definições terão o mesmo significado independentemente de aparecerem no singular ou no plural.</p>
</blockquote>
<hr />
<blockquote>
    <h3>Dados de uso</h3>
    <p>Os Dados de Uso são coletados automaticamente ao usar o Serviço.</p>
    <p>Os Dados de uso podem incluir informações como o endereço de protocolo de Internet do seu dispositivo (por exemplo, endereço IP), tipo de navegador, versão do navegador, as páginas do nosso serviço que você visita, a hora e a data da sua visita, o tempo gasto nessas páginas, o dispositivo exclusivo identificadores e outros dados de diagnóstico.</p>
    <p>Quando você acessa o Serviço por ou através de um dispositivo móvel, podemos coletar certas informações automaticamente, incluindo, mas não limitado a, o tipo de dispositivo móvel que você usa, o ID exclusivo do seu dispositivo móvel, o endereço IP do seu dispositivo móvel, seu sistema operacional, o tipo de navegador de Internet móvel que você usa, identificadores exclusivos de dispositivo e outros dados de diagnóstico.</p>
    <p>Também podemos coletar informações que seu navegador envia sempre que você visita nosso serviço ou quando acessa o serviço por meio de um dispositivo móvel.</p>
</blockquote>